Repository DanBot-Hosting/DBH-Docs, pull requests merged in 2024-12, with the labels that each got.

#153 Feat: Adding Sentry to Docs page
  .gitignore
  instrumentation.ts
  next.config.mjs
  package.json
  pages/_error.jsx
  pages/api/sentry-example-api.js
  pages/sentry-example-page.jsx
  sentry.client.config.ts
  sentry.edge.config.ts
  sentry.server.config.ts
  yarn.lock
Labels: Medium Priority

#156 feat: adding python install guide
  config.ts
  pages/advanced/python-install.mdx
Labels: enhancement, Low Priority

#160 Add React Embeds to Database creation guides
  pages/server/database/influxdb.mdx
  pages/server/database/mariadb.mdx
  pages/server/database/mongodb.mdx
  pages/server/database/postgres.mdx
  pages/server/database/redis.mdx
Labels: enhancement
